bin
gen
.apt_generated
.project
.classpath
.checkstyle
.settings/
default.properties
local.properties
assets/server.properties
res/values/maps-key.xml
tmp/
.DS_Store
test_servers
screenshot*
*.apk
.gradle/
build/
.idea
release.properties
crashlytics.properties
